.app-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .7);
  &__content {
    background: #fff;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &-title {
    font-size: 18px;
    font-weight: 700;
  }
  &-close {
    cursor: pointer;
  }
  &-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &-button {
    margin-top: 12px;
  }
}